/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* tobar section  */
    .topbar-main{
        display: none;
    }
    /* tobar section  */
    /* navbar section  */
    .navbar-inner{
        height: 60px;
        max-height: 60px;
      }
    /* navbar section  */
   
    .carousel-main .slide .slide-img{
      height: 380px;
    }
    .carousel-main .slide .slide-img-1 img, .carousel-main .slide .slide-img-2 div img{
      width: 280px;
    }
    
    .tab-container .product-items{
      height: 390px;
    }
    .tab-container .product-items .product{
      height: 390px;
    }
    .options-pannel2, .options-pannel{
      opacity: 1;
      right: 20px;
      height: 40px;
      border-radius: 50%;
    }
    .product:hover .options-pannel2{
      animation: none;
    }
    .global-carousel-owl-col{
      min-height: 470px;
    }
    .tab-container  .product-items{
      height: 390px;
    }
    .tab-container .product-items .product, .deal-day-row .product{
      height: 390px;
    }
    .deal-day-row .product.wishlist-product{
      height: auto;
    }
    .shop-filter-sidebar{
      display: none;
    }
    .product-details-p{
      display: none;
    }
    .account-menu{
      width: 300px;
      position: fixed;
      left: -300px;
      display: block;
      background-color: white;
      z-index: 1090;
      top: 0;
    }
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* tobar section  */
    .topbar-main{
        display: none;
    }
    /* tobar section  */
    /* navbar section  */
    .navbar-inner{
        height: 60px;
        max-height: 60px;
      }
    /* navbar section  */
    
    .carousel-main .slide .slide-img{
      height: 400px;
    }
    .carousel-main .slide .slide-img-1 img{
      width: 300px;
    }
    
    .tab-container  .product-items{
      height: 390px;
    }
    .tab-container .product-items .product, .deal-day-row .product{
      height: 390px;
    }
    .deal-day-row .product.wishlist-product{
      height: auto;
    }
    .shop-filter-sidebar{
      display: none;
    }
    .product-details-p{
      display: none;
    }
    .account-menu{
      width: 300px;
      position: fixed;
      left: -300px;
      background-color: white;
      top: 0;
    }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* tobar section  */
    .topbar-main{
        display: none;
    }
    /* tobar section  */
    /* navbar section  */
    .navbar-inner{
        height: 60px;
        max-height: 60px;
      }
    /* navbar section  */
    
    .carousel-main .slide .slide-img{
      height: 420px;
    }
    
    .tab-container .product-items{
      height: 390px;
    }
    .tab-container .product-items .product{
      height: 390px;
    }
    .shop-filter-sidebar{
      display: none;
    }
    .product-details-p{
      display: none;
    } 
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
    .carousel-main .slide .slide-img{
      height: 461px;
    }
    .signup-form{
      border-right: 1px solid rgba(128, 128, 128, 0.493);
    }
  }
  
  /* Extra Large devices (desktops, 992px and up)*/
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    
    .global-cat-sec .global-cat-row .global-single-col .global-single-item{
      width: 250px;
      overflow: hidden;
    }
    .signup-form{
      border-right: 1px solid rgba(128, 128, 128, 0.493);
    }
    .faq{
      border-right: 1px solid rgba(128, 128, 128, 0.322);
    }
    .border-lg-start{
      border-left: 1px solid rgba(128, 128, 128, 0.171);
    }
  }
  
  /* Extra Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1400px) {
    
    .global-cat-sec .global-cat-row .global-single-col .global-single-item{
      width: 250px;
      overflow: hidden;
    }
    .accordion{
      width: 200px;
      text-align: center;
    }
    .signup-form{
      border-right: 1px solid rgba(128, 128, 128, 0.493);
    }
    .faq{
      border-right: 1px solid gray;
    }
    .border-lg-start{
      border-left: 1px solid rgba(128, 128, 128, 0.171);
    }
  }